body {
    min-height: 100vh;
}

.Erreur-404 p {
    text-align: center;
    font-size: 288px;
    font-style: normal;
    font-weight: 700;
    margin: 0px;
}

.Erreur-text p{
    font-size: 36px;
}

.Erreur-lien p{
    font-size: 18px;
}

.Erreur-lien p, 
.Erreur-text p{
    font-style: normal;
    font-weight: 500;
    text-decoration-line: none; 
    margin: 0px 0px 90px 0px;
}

.Erreur-lien p:hover{
    color: #004EFF;
    text-decoration-line: underline; 
}

.Erreur-lien a, 
.Erreur-text p{
    text-align: center;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

/* Responsive */

@media (max-width: 1480px) {
    .Erreur-404 p {
        font-size: 260px;
    }
    
    .Erreur-text p{
        font-size: 32px;
    }
    
    .Erreur-lien p{
        font-size: 18px;
    }
}

@media (max-width: 1080px) {
    .Erreur-404 p {
        font-size: 220px;
    }
    
    .Erreur-text p{
        font-size: 28px;
    }
    
    .Erreur-lien p{
        font-size: 18px;
    }
}

@media (max-width: 780px) {
    .Erreur-404 p {
        font-size: 190px;
    }
    
    .Erreur-text p{
        font-size: 24px;
    }
    
    .Erreur-lien p{
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .Erreur-404 p {
        font-size: 150px;
    }
    
    .Erreur-text p{
        font-size: 20px;
    }
    
    .Erreur-lien p{
        font-size: 14px;
    }
}