
.carrousel {
    margin: 2% 0% 4% 0%;
    position: relative;
    background-color: #333333;
    min-height: 525px;

    display: flex ;
    justify-content: center;
    align-items: center;
}

.numerisation {
    position: absolute;
    top: 88%;
    left: 50%;
    display: block;
}
  
.numerisation p {
    color: #F8F8F8;
    text-align: center;
    font-size: 22px;
}

.Image_fleche_Gauche,
.Image_fleche_Droite {
    cursor: pointer;
    width: 5%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
  
.Image_fleche_Gauche {
    left: 18%;
    transform: rotate(-90deg);
}
  
.Image_fleche_Droite {
    right: 18%;
    transform: rotate(90deg);
}

.container {
    min-height: 415px;
}

.image-fond {
    margin: 0 15%;
    width: 70%;
    height: 415px; 
    border-radius: 25px;
    object-fit: cover;
}

.drop {
    margin: 0 15%;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

/* Responsive */

@media (max-width: 1480px) {
    .image-fond {
        height: 415px; 
    }
    .carrousel {
        min-height: 525px;
    }
    .container {
        min-height: 415px;
    }
}

@media (max-width: 1080px) {
    .image-fond {
        height: 375px; 
    }
    .carrousel {
        min-height: 475px;
    }
    .container {
        min-height: 375px;
    }
}

@media (max-width: 780px) {
    .image-fond {
        height: 315px; 
    }
    .carrousel {
        min-height: 415px;
    }
    .container {
        min-height: 315px;
    }
    .numerisation {
        display: none;
    }
}

@media (max-width: 480px) {
    .image-fond {
        height: 215px; 
    }
    .carrousel {
        min-height: 325px;
    }
    .container {
        min-height: 215px;
    }
    .numerisation {
        display: none;
    }
}