
.description {
	height: auto;
	margin-top: 5%;
	width: 100%;
	background-color: #333333;
	align-items: center;
	display: flex;
	justify-content: space-around;
}

h1 {
	font-size: 44px;
	margin: 0;
	color: #F8F8F8; 
}

h2 {
	font-size: 40px;
	margin: 0;
	color: #F8F8F8; 
}

h4 {
	font-size: 20px;
	color: #F8F8F8; 
}

.intro p {
	color: #F8F8F8; 
	font-size: 18px;
  	font-weight: 300;
}

.lien-intro {
	display: flex;
	justify-content: space-around;
	margin-top: 14%;
}

.linkedin {
	width: 30%;
	height: auto;
	border: 2px solid #F8F8F8; 
	text-align: center;
	padding: 5px;
}

.linkedin:hover{
	background-color: #F8F8F8; 
}

.linkedin a{
	font-size: 18px;
	color: #F8F8F8; 
}

.linkedin:hover a{
	color: #333333; 
}

.github {
	width: 30%;
	height: auto;
	border: 2px solid #F8F8F8; 
	text-align: center;
	padding: 5px;
}

.github:hover{
	background-color: #F8F8F8; 
}

.github a{
	font-size: 18px;
	color: #F8F8F8; 
}

.github:hover a{
	color: #333333; 
}

.logo-intro{
	margin-top: 3%;
    width: 25%;
    transform: rotate(56deg);
}

.image-intro{
    width: 70%;
}