
.description {
	height: auto;
	margin-top: 5%;
	width: 100%;
	background-color: #333333; 
	align-items: center;
	display: flex;
	justify-content: center;
	gap: 10%;
}

.image-intro{
	padding-top: 40px;
    width: 25%;
}

.contour-bleu{
	margin-top: 20%;
	margin-right: 5%;
	height: 140px;
	border: 4px solid #004EFF;
}

.contour-noir{
	margin-top: -25%;
	margin-left: 5%;
	height: 140px;
	border: 4px solid #F8F8F8; 
}

.image-profil{
	margin-top: -55%;
	margin-left: 15%;
    width: 70%;
}

.intro {
	padding: 20px 0;
}

.intro h1 {
	font-size: 44px;
	margin: 0;
	color: #F8F8F8;  
}

.intro h2 {
	font-size: 40px;
	margin: 0;
	color: #F8F8F8; 
}

.intro h4 {
	font-size: 20px;
	color: #F8F8F8;   
}

.intro p {
	color: #F8F8F8; 
	font-size: 18px;
  	font-weight: 300;
}

.lien-intro {
	width: 125%;
	display: flex;
	justify-content: space-between;
	margin-top: 14%;
}

.lien-intro a{
	font-size: 18px;
	font-weight: 700;
	color: #F8F8F8; 
}

.linkedin {
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
	background-color: #F8F8F8; 
	color: #333333;
	padding: 10px;
}

.linkedin:hover{
	color: #004EFF;
}

.github {
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
	background-color: #F8F8F8; 
	color: #333333;
	padding: 10px;
}

.github:hover{
	color: #004EFF;
}

.instagram {
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
	background-color: #F8F8F8; 
	color: #333333;
	padding: 10px;
}

.instagram:hover{
	color: #004EFF;
}

.image-res {
	width: 28px;
    text-align: center;
}


/* Responsive */

@media (max-width: 1700px) {
	.contour-noir {
		margin-top: -32%;
	}
	.image-profil {
		margin-top: -60%;
	}
	.image-intro{
		padding-top: 0px;
	}
	.intro {
		padding: 20px 0;
	}
}

@media (max-width: 1560px) {
	.contour-noir {
		margin-top: -32%;
	}
	.image-profil {
		margin-top: -60%;
	}
}

@media (max-width: 1310px) {
	.contour-noir {
		margin-top: -40%;
	}
	.image-profil {
		margin-top: -60%;
	}
}

@media (max-width: 1080px) {
	.contour-noir {
		margin-top: -50%;
		margin-left: 8%;
	}
	.image-profil {
		margin-top: -65%;
	}
	.contour-bleu {
		margin-right: 8%;
	}
	.intro h1 {
		font-size: 30px;
	}
	.intro h2 {
		font-size: 28px;
	}
	.intro h4 {
		font-size: 18px;
	}
	.intro p {
		font-size: 16px;
	}
	.lien-intro a {
		font-size: 16px;
	}
	.image-res {
		width: 20px;
	}
	.linkedin {
		gap: 8px;
		padding: 8px;
	}
	.github {
		gap: 8px;
		padding: 8px;
	}
	.instagram {
		gap: 8px;
		padding: 8px;
	}
}

@media (max-width: 910px) {
	.contour-noir {
		height: 120px;
		margin-top: -50%;
		margin-left: 8%;
	}
	.image-profil {
		margin-top: -70%;
	}
	.contour-bleu {
		height: 120px;
		margin-right: 8%;
	}
	.intro h1 {
		font-size: 24px;
	}
	.intro h2 {
		font-size: 20px;
	}
	.intro h4 {
		font-size: 18px;
	}
	.intro p {
		font-size: 16px;
	}
	.lien-intro {
		width: 100%;
		margin-top: 10%;
	}
	.lien-intro a {
		font-size: 16px;
	}
	.image-res {
		width: 16px;
	}
	.linkedin {
		gap: 6px;
		padding: 6px;
	}
	.github {
		gap: 6px;
		padding: 6px;
	}
	.instagram {
		gap: 6px;
		padding: 6px;
	}
}

@media (max-width: 770px) {
	.contour-noir {
		height: 120px;
		margin-top: -60%;
		margin-left: 8%;
	}
	.image-profil {
		margin-top: -70%;
	}
	.contour-bleu {
		height: 120px;
		margin-right: 8%;
	}
	.intro h1 {
		font-size: 24px;
	}
	.intro h2 {
		font-size: 20px;
	}
	.intro h4 {
		font-size: 18px;
	}
	.intro p {
		font-size: 16px;
	}
	.lien-intro {
		width: 100%;
		margin-top: 10%;
	}
	.lien-intro a {
		font-size: 16px;
	}
	.image-res {
		width: 16px;
	}
	.linkedin {
		gap: 6px;
		padding: 6px;
	}
	.github {
		gap: 6px;
		padding: 6px;
	}
	.instagram {
		gap: 6px;
		padding: 6px;
	}
}

@media (max-width: 650px) {
	.description {
		flex-direction: column;
		gap: 10%;
	}
	.contour-noir {
		border: 0px;
		display: none
	}
	.contour-bleu {
		border: 0px;
		display: none
	}
	.image-intro {
		width: 70%;
	}
	.image-profil {
		margin-top: 0%;
		margin-left: 0%;
		width: 100%;
	}
}

@media (max-width: 500px) {
	.image-intro {
		width: 50%;
	}
}

@media (max-width: 400px) {
	.image-intro {
		width: 50%;
	}
	.intro {
		padding: 20px;
	}
	.intro h1 {
		font-size: 20px;
	}
	.intro h2 {
		font-size: 18px;
	}
	.intro h4 {
		font-size: 18px;
	}
	.intro p {
		font-size: 16px;
	}
	.lien-intro {
		flex-direction: column;
		gap: 10px;
	}
}