
.description {
	height: auto;
	margin-top: 5%;
	width: 100%;
	background-color: #F8F8F8; 
	align-items: center;
	display: flex;
	justify-content: center;
	gap: 10%;
}

.image-intro{
    width: 25%;
}

.contour-bleu{
	margin-top: 20%;
	margin-right: 5%;
	height: 140px;
	border: 2px solid #004EFF;
}

.contour-noir{
	margin-top: -25%;
	margin-left: 5%;
	height: 140px;
	border: 2px solid #333333;
}

.image-profil{
	margin-top: -55%;
	margin-left: 15%;
    width: 70%;
}

h1 {
	font-size: 44px;
	margin: 0;
	color: #333333; 
}

h2 {
	font-size: 40px;
	margin: 0;
	color: #333333; 
}

h4 {
	font-size: 20px;
	color: #333333;  
}

.intro p {
	color: #333333; 
	font-size: 18px;
  	font-weight: 300;
}

.lien-intro {
	width: 125%;
	display: flex;
	justify-content: space-around;
	margin-top: 14%;
}

.lien-intro a{
	font-size: 18px;
	color: #333333;
}

.linkedin {
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
	border: 2px solid #333333;
	padding: 10px;
}

.linkedin:hover{
	background-color: #333333;
}

.a-link:hover{
	color: #F8F8F8; 
}

.github {
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
	border: 2px solid #333333;
	padding: 10px;
}

.github:hover{
	background-color: #333333; 
}

.a-git:hover{
	color: #F8F8F8; 
}

.instagram {
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
	border: 2px solid #333333;
	padding: 10px;
}

.instagram:hover{
	background-color: #333333; 
}

.a-insta:hover{
	color: #F8F8F8; 
}

.image-res {
	width: 28px;
    text-align: center;
}
