
.Gallery {
	margin: 10% 0% 15% 0;
}

.Gallery p {
	color: black;
}

.titre-bleu-P{
    text-align: center;
}

.titre-bleu-P h2{
    padding-left: 0;
    color: transparent; 
    -webkit-text-stroke: 1px #004EFF; 
    color: #F8F8F8;
    font-size: 90px;
    margin: 0;
}

.titre-noir-P{
    text-align: center;
    margin-top: -75px;
}

.titre-noir-P h2{
    padding: 0;
    margin: 0;
    font-size: 60px;
    color: #333333;
}

.container-text-portfolio {
	width: 100%;
    display: flex;
	justify-content: right;
    margin-top: -6%;
}

.logo-bleu-droite{
	margin-right: 20%;
    width: 25%;
    transform: rotate(145deg);
}

.image-P{
    width: 70%;
	padding-bottom: 60px;
	padding-top: 25px;
	padding-left: 20px;
}

.trie{
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-bottom: 15px;
}

.trie button{
	padding: 10px;
	font-size: 20px;
	background-color: #333333;
	color: #F8F8F8;
	border: 1px solid #333333;
}

.trie button:hover{
	padding: 10px;
	font-size: 20px;
	background-color: #F8F8F8;
	border: 1px solid #333333;
	color: #004EFF;
}


.my-Gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 80px 60px;
	text-align: center;
	align-items: center;
	justify-content: center;

	border-radius: 25px;
	background: #F8F8F8;

	margin: 0% 15% 5% 15%;
	padding: 25px;
}

.image-container {
	width: 100%;
	height: 340px; 
	background-size: cover;
	border-radius: 10px;
}

.image_fond {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.carte {
	background: #F8F8F8;
	border-radius: 10px;

	display: block;
	width: calc(30.33% - 10px); /* Ajuste la largeur pour afficher maximum 3 cartes par ligne */
	flex-direction: column;
	justify-content: flex-end; 
	border: 2px solid;
}

.carte p {
	text-align: left;
	padding: 10px;
	color: #333333;
	font-size: 18px;
	margin: 0;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #333333;
}

.tilte-container{
	margin-bottom: 5%;
}

/* Responsive */

@media (max-width: 1690px) {
	.image-container {
		height: 100%; 
	}
	.carte p {
		top: 80%;
		padding: 10px;
		font-size: 18px;
		font-weight: 500;
	}
	.carte {
		height: 260px;
		width: calc(40% - 10px); /* Ajuste la largeur pour afficher maximum 3 cartes par ligne */
	}
}

@media (max-width: 1560px) {
    .titre-bleu-P h2{
        font-size: 75px;
    }
    .titre-noir-P h2{
        font-size: 50px;
        margin-top: 12px;
    }
}

@media (max-width: 1310px) {
    .titre-bleu-P h2{
        font-size: 65px;
    }
    .titre-noir-P h2{
        font-size: 42px;
        margin-top: 22px;
    }
	.image-P {
		padding-bottom: 40px;
    }
}

@media (max-width: 1260px) {
	.image-container {
		height: 100%; 
	}
	.carte p {
		top: 60%;
		padding: 10px;
		font-size: 14px;
		font-weight: 300;
	}
	.carte {
		height: 200px; 
		width: calc(40% - 10px); /* Ajuste la largeur pour afficher maximum 3 cartes par ligne */
	}
}

@media (max-width: 1080px) {
	.titre-bleu-P h2{
        font-size: 55px;
    }
    .titre-noir-P h2{
        font-size: 34px;
        margin-top: 30px;
    }
	.image-P {
		padding-bottom: 40px;
    }
	.image-container {
		height: 100%; 
	}
	.carte p {
		top: 60%;
		padding: 10px;
		font-size: 14px;
		font-weight: 300;
	}
	.carte {
		height: 200px; 
		width: calc(45% - 10px); /* Ajuste la largeur pour afficher maximum 3 cartes par ligne */
	}
}

@media (max-width: 910px) {
    .titre-bleu-P h2{
        font-size: 45px;
        margin-top: 20px;
    }
    .titre-noir-P h2{
        font-size: 28px;
        margin-top: 40px;
    }
	.image-P {
		padding-bottom: 20px;
    }
	.carte {
		width: calc(45% - 10px); 	
	}
}


@media (max-width: 780px) {
	.image-container {
		height: 100%; 
	}
	.carte p {
		top: 60%;
		padding: 10px;
		font-size: 12px;
		font-weight: 300;
	}
	.my-Gallery {
		gap: 75px 20px;
		background: #F8F8F8;
		padding: 0px;
	}
}

@media (max-width: 750px) {
    .titre-bleu-P h2{
        font-size: 35px;
    }
    .titre-noir-P h2{
        font-size: 20px;
        margin-top: 50px;
    }
	.image-P {
		padding-bottom: 20px;
    }
	.carte {
		width: calc(100%); 
		height: 180px; 
	}
}

@media (max-width: 582px) {
    .titre-bleu-P h2{
        font-size: 30px;
    }
    .titre-noir-P h2{
        font-size: 20px;
        margin-top: 50px;
    }
	.image-P {
		padding-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .titre-bleu-P h2{
        visibility: hidden;
    }
    .titre-noir-P h2{
        font-size: 20px;
        margin-top: 50px;
    }
	.image-P {
		padding-bottom: 20px;
    }
}

@media (max-width: 480px) {
	.image-container {
		height: 100%; 
	}
	.my-ImageBanner img {
		height: 100px
	  }
	.carte p {
		top: 60%;
		padding: 4px;
		font-size: 14px;
		font-weight: 300;
	}
	.carte {
		width: calc(100%); 
		height: 180px; 
	}
	.my-Gallery {
		gap: 50px 0px;
		background: #FFF; 
		padding: 0px;
	}
}