
.competence{
    background-color: #333333;
    color: #F8F8F8; 
    margin: 10% 0% 5% 0%;
    padding: 2% 0%;
}

.competence h1{
    margin: 30px 0;
    text-align: center;
    font-size: 40px;
}

.End{
    width: 80%;
    background-color: #F8F8F8; 
    display: flex;
    justify-content: space-around;
    margin: 5% 10%;
    padding: 20px 0;
}

.front-tilte {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front-tilte h2{
    font-size: 18px;
    color: #333333;
    padding-bottom: 35px;
}

.front{
    width: 300px;
    height: 300px;
    border: 4px dashed #004EFF;
    border-radius: 50%;
    display: flex;
}

.front p{
    font-size: 14px;
    color: #333333;
}

.col-gauche,
.col-droite {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: flex-start; 
    padding-top: 40px;
}

.col-gauche {
    justify-content: start; 
}

.col-droite {
    justify-content: end; 
}

.col-milieu {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: flex-end; 
    justify-content: center; 
    padding: 10px;
}

.back-tilte {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-tilte h2{
    font-size: 18px;
    color: #333333;
    padding-bottom: 35px;
}

.back{
    width: 300px;
    height: 300px;
    border: 4px dashed #004EFF;
    border-radius: 50%;
    display: flex;
}

.back p{
    font-size: 14px;
    color: #333333;
}

.trait-blanc {
    margin: -12% 30% 16% 30%;
    border-top: 3px solid #333333;
    position: relative;
}
  
.trait-blanc::after {
    content: '•';
    position: absolute;
    width: 50px;
    top: -28px;
    font-size: 60px;
    left: 0; /* Position initiale à gauche */
    color: #004EFF;
    animation: deplacementPoint 10s linear infinite; /* Animation du point */
}
  
@keyframes deplacementPoint {
    0% {
      left: 0; /* Position initiale à gauche */
    }
    50% {
      left: 98%; /* Déplacement au milieu */
    }
    100% {
      left: 0; /* Retour à la position initiale à gauche */
    }
}

.Comp-icon-tilte {
    display: flex;
    gap: 15px;
}

.Comp-icon {
    background-color: #F8F8F8; 
    width: 82%;
    display: flex;
    align-items: center;
    gap: 55px;
    padding-left: 120px;
    padding-top: 15px;
}

.contenaire-Comp{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-Comp-end{
    width: 55px;
    text-align: center;
}

.image-Comp{
    width: 42px;
    text-align: center;
}

.travaille{
    margin-left: 10%;
    margin-bottom: 3%;
}

.travaille h2{
    margin-bottom: 25px;
    font-size: 18px;
    color: #F8F8F8; 
}

.travaille p{
    font-size: 14px;
    color: #333333;
}

.services{
    margin-left: 10%;
    margin-bottom: 3%;
}

.services h2{
    margin-bottom: 25px;
    font-size: 18px;
    color: #F8F8F8; 
}

.services p{
    font-size: 14px;
    color: #333333;
}

.outils{
    margin-left: 10%;
    margin-bottom: 3%;
}

.outils h2{
    margin-bottom: 25px;
    font-size: 18px;
    color: #F8F8F8; 
}

.outils p{
    font-size: 14px;
    color: #333333;
}

/* Responsive */

@media (max-width: 2095px) {
    .trait-blanc {
        margin: -13% 28% 16% 28%;
    }
}

@media (max-width: 1760px) {
    .trait-blanc {
        margin: -15% 28% 16% 28%;
    }
}

@media (max-width: 1560px) {
    .trait-blanc {
        margin: -16% 30% 16% 30%;
    }
}

@media (max-width: 1310px) {
    .trait-blanc {
        margin: -18% 30% 16% 30%;
    }
}

@media (max-width: 1270px) {
    .trait-blanc {
        margin: -20% 30% 16% 30%;
    }
}

@media (max-width: 1080px) {
    .trait-blanc {
        margin: -22% 30% 16% 30%;
    }
}

@media (max-width: 910px) {
    .trait-blanc {
        margin: -24% 30% 16% 30%;
    }
    .travaille {
        padding-top: 100px;
        margin-left: 10%;
        margin-bottom: 3%;
    }
    .Comp-icon {
        width: 50%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding-left: 0px;
        padding-top: 15px;
    }
}

@media (max-width: 850px) {
    .trait-blanc {
        border-top: 0;
    }
    .trait-blanc::after {
        font-size: 0;
    }
    .End {
        flex-direction: column;
    }
    .back-tilte h2 {
        margin-top: 40px;
    }
}

@media (max-width: 750px) {

}

@media (max-width: 582px) {

}

@media (max-width: 500px) {
    .competence h1 {
        font-size: 25px;
    }
    .front {
        width: 200px;
        height: 200px;
    }
    .front p {
        font-size: 12px;
    }
    .image-Comp-end {
        width: 35px;
    }
    .col-gauche, .col-droite {
        width: auto;
    }
    .back {
        width: 200px;
        height: 200px;
    }
    .back p {
        font-size: 12px;
    }
    .services {
        margin-top: 20px;
    }
    .outils {
        margin-top: 20px;
    }
}