
.competence{
    background-color: #333333;
    color: #F8F8F8; 
    margin: 10% 0%;
    padding: 2% 0%;
}

.competence h1{
    text-align: center;
    font-size: 40px;
}

.End{
    display: flex;
    justify-content: space-around;
    margin: 5% 0%;
}

.front-tilte {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front-tilte h2{
    font-size: 18px;
    color: #F8F8F8; 
    padding-bottom: 35px;
}

.front{
    width: 300px;
    height: 300px;
    border: 4px dashed #004EFF;
    border-radius: 50%;
    display: flex;
}

.front p{
    font-size: 14px;
    color: #F8F8F8; 
}

.col-gauche,
.col-droite {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: start; 
    padding-top: 40px;
}

.col-gauche {
    justify-content: start; 
}

.col-droite {
    justify-content: end; 
}

.col-milieu {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: end; 
    justify-content: center; 
    padding: 10px;
}

.back-tilte {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-tilte h2{
    font-size: 18px;
    color: #F8F8F8; 
    padding-bottom: 35px;
}

.back{
    width: 300px;
    height: 300px;
    border: 4px dashed #004EFF;
    border-radius: 50%;
    display: flex;
}

.back p{
    font-size: 14px;
    color: #F8F8F8; 
}

.trait-blanc {
    margin: -13% 25% 16% 25%;
    border-top: 3px solid #F8F8F8;
    position: relative;
}
  
.trait-blanc::after {
    content: '•';
    position: absolute;
    width: 50px;
    top: -28px;
    font-size: 60px;
    left: 0; /* Position initiale à gauche */
    color: #004EFF;
    animation: deplacementPoint 10s linear infinite; /* Animation du point */
}
  
@keyframes deplacementPoint {
    0% {
      left: 0; /* Position initiale à gauche */
    }
    50% {
      left: 98%; /* Déplacement au milieu */
    }
    100% {
      left: 0; /* Retour à la position initiale à gauche */
    }
}

.Comp-icon {
    display: flex;
    gap: 15px;
}

.travaille{
    margin-left: 15%;
    margin-bottom: 3%;
}

.travaille h2{
    font-size: 18px;
    color: #F8F8F8; 
}

.travaille p{
    font-size: 14px;
    color: #F8F8F8; 
}

.services{
    margin-left: 15%;
    margin-bottom: 3%;
}

.services h2{
    font-size: 18px;
    color: #F8F8F8; 
}

.services p{
    font-size: 14px;
    color: #F8F8F8; 
}

.outils{
    margin-left: 15%;
    margin-bottom: 3%;
}

.outils h2{
    font-size: 18px;
    color: #F8F8F8; 
}

.outils p{
    font-size: 14px;
    color: #F8F8F8; 
}
