.curriculum {
    width: auto;
}

.titre {
    width: 100%;
}

.titre-bleu-C{
    text-align: center;
}

.titre-bleu-C h2{
    padding-left: 0;
    color: transparent; 
    -webkit-text-stroke: 1px #004EFF; 
    color: #F8F8F8;
    font-size: 90px;
    margin: 0;
}

.titre-noir-C{
    text-align: center;
    margin-top: -75px;
}

.titre-noir-C h2{
    padding: 0;
    margin: 0;
    font-size: 60px;
    color: #333333;
}

.container-text {
    padding: 0% 10%;
    width: 80%;
    display: flex;
    justify-content: right;
    margin-top: -3%;
}

.logo-bleu{
    align-items: center;
    text-align: center;
    width: 25%;
    transform: rotate(-90deg);
}

.image{
    width: 70%;
}

.container-bleu {
    margin: 5%;
    padding: 6%;
    background-color: #333333;
    border-radius: 25px;
}

.container-bleu h1{
    font-size: 68px;
    margin: 0;
    color: #F8F8F8;
}

.container-bleu h2{
    margin: 30px 0 20px 0;
    font-size: 42px;
    color: #F8F8F8;
}

.container-bleu h3{
    font-size: 34px;
    color: #F8F8F8;
    margin: 20px 0 15px 0;
    font-weight: 500;
}

.container-bleu h4{
    font-size: 26px;
    color: #F8F8F8;
    margin: 10px 0 10px 0;
}

.container-bleu p {
    font-size: 20px;
    color: #F8F8F8;
    margin: 10px 0;
}

.contenaire-icone {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icone{
    color: #F8F8F8;
}

.lien-cv {
	display: flex;
	gap: 20px;
	margin: 10px 0;
}

.lien-cv a{
	font-size: 18px;
	font-weight: 700;
	color: #F8F8F8; 
}

.linkedin-cv {
	display: flex;
	justify-content: center;
	gap: 5px;
	align-items: center;
	background-color: #F8F8F8; 
	color: #333333;
	padding: 10px;
}

.linkedin-cv:hover{
	color: #004EFF;
}

.github-cv {
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
	background-color: #F8F8F8; 
	color: #333333;
	padding: 10px;
}

.github-cv:hover{
	color: #004EFF;
}

.instagram-cv {
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
	background-color: #F8F8F8; 
	color: #333333;
	padding: 10px;
}

.instagram-cv:hover{
	color: #004EFF;
}

.image-cv {
	width: 28px;
    text-align: center;
}

.liste {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.div-liste {
    width: 50%;
}

.compétence-col {
    display: flex;
    justify-content: space-between;
}

.colonne-end {
    width: 10%;
}

.colonne {
    width: 25%;
}

/* Responsive */

@media (max-width: 1560px) {
    .titre-bleu-C h2{
        font-size: 75px;
    }
    
    .titre-noir-C h2{
        font-size: 50px;
        margin-top: 12px;
    }
}

@media (max-width: 1310px) {
    .titre-bleu-C h2{
        font-size: 65px;
    }
    
    .titre-noir-C h2{
        font-size: 42px;
        margin-top: 22px;
    }
}

@media (max-width: 1080px) {
    .titre-bleu-C h2{
        font-size: 55px;
    }
    .titre-noir-C h2{
        font-size: 34px;
        margin-top: 30px;
    }
}

@media (max-width: 910px) {
    .titre-bleu-C h2{
        font-size: 45px;
        margin-top: 20px;
    }
    .titre-noir-C h2{
        font-size: 28px;
        margin-top: 40px;
    }
    .liste {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .div-liste {
        width: 100%;
    }
    .compétence-col {
        flex-direction: column;
    }
    .colonne-end,
    .colonne {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .titre-bleu-C h2{
        font-size: 35px;
    }
    .titre-noir-C h2{
        font-size: 20px;
        margin-top: 50px;
    }
    .container-bleu h1{
        font-size: 55px;
    }
    .container-bleu h2{
        font-size: 35px;
    }
    .container-bleu h3{
        font-size: 30px;
    }
    .container-bleu h4{
        font-size: 28px;
    }
    .container-bleu p {
        font-size: 20px;
    }

    .lien-cv {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 10px 0;
    }
    .lien-cv a {
        font-size: 12px;
        font-weight: 700;
    }
    .linkedin-cv,
    .github-cv,
    .instagram-cv { 
        height: 30px;
        padding: 3px;
    }
    .image-cv {
        width: 14px;
    }
}

@media (max-width: 582px) {
    .titre-bleu-C h2{
        font-size: 30px;
    }
    .titre-noir-C h2{
        font-size: 20px;
        margin-top: 50px;
    }

    .lien-cv {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 10px 0;
    }
    .lien-cv a {
        font-size: 12px;
        font-weight: 700;
    }
    .linkedin-cv,
    .github-cv,
    .instagram-cv { 
        height: 30px;
        padding: 3px;
    }
    .image-cv {
        width: 14px;
    }
    .compétence-col {
        flex-direction: column;
    }
    .colonne {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .titre-bleu-C h2{
        visibility: hidden;
    }
    .titre-noir-C h2{
        font-size: 20px;
        margin-top: 50px;
    }
    .container-bleu h1{
        font-size: 45px;
    }
    .container-bleu h2{
        font-size: 30px;
    }
    .container-bleu h3{
        font-size: 25px;
    }
    .container-bleu h4{
        font-size: 22px;
    }
    .container-bleu p {
        font-size: 18px;
    }
    .image {
        padding-top: 25px;
        padding-left: 20px;
    }

    .lien-cv {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 10px 0;
    }
    .lien-cv a {
        font-size: 12px;
        font-weight: 700;
    }
    .linkedin-cv,
    .github-cv,
    .instagram-cv { 
        height: 30px;
        padding: 3px;
    }
    .image-cv {
        width: 14px;
    }
    .compétence-col {
        flex-direction: column;
    }
    .colonne {
        width: 100%;
    }
}