.curriculum {
    width: 100%;
}

.container-titre {
    display: flex;
}

.titre {
    width: 75%;
}

.titre-bleu{
    text-align: center;
}

.titre-bleu h2{
    padding-left: 0;
    color: transparent; 
    -webkit-text-stroke: 1px #004EFF; 
    color: #F8F8F8;
    font-size: 90px;
    margin: 0;
}

.titre-noir{
    text-align: center;
    margin-top: -75px;
}

.titre-noir h2{
    padding: 0;
    margin: 0;
    font-size: 60px;
    color: #333333;
}

.logo-bleu{
    width: 25%;
}

.image{
    width: auto;
    height: 100px;
}

.text {
    text-align: center;
}

.container-bleu {
    height: 200px;
    width: 200px;
    background-color: #004EFF;
}