
.experience-title h2{
    text-align: center;
    color: #333333;
    margin-bottom: 5%;
    font-size: 40px;
}

.experience{
    background-color: #F8F8F8; 
    color: #333333;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.p-experience{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 40%;
    border-right: 2px solid #004EFF;
    margin-right: 40%;
}

.i-experience{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    width: 40%; 
    border-left: 2px solid #004EFF;
    margin-left: 40%;
}

.trait-noir{
    margin-top: 15%;
    border-top: 2px solid #004EFF;
    width: 50%;
}


/* Responsive */

@media (max-width: 1560px) {

}

@media (max-width: 1310px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 910px) {

}

@media (max-width: 750px) {
    .p-experience{
        width: 80%;
        border-right: 0;
        margin-right: 0;
        margin-bottom: 5%;
    }
    .i-experience{
        width: 80%;
        border-left: 0;
        margin-left: 0;
        margin-bottom: 5%;
    }
    .trait-noir {
        margin-top: 0;
        border-top: 0;
        width: 0;
    }
}

@media (max-width: 582px) {
    .p-experience{
        width: 80%;
        border-right: 0;
        margin-right: 0;
        margin-bottom: 5%;
    }
    .i-experience{
        width: 80%;
        border-left: 0;
        margin-left: 0;
        margin-bottom: 5%;
    }
    .trait-noir {
        margin-top: 0;
        border-top: 0;
        width: 0;
    }
}

@media (max-width: 500px) {

}