
.page-contact {
    margin-left: 65px;;
    display: flex;
    gap: 10%;
}

.contact {
    width: 50%;
}

.titre{

}

.titre-bleu{
    text-align: center;
}

.titre-bleu h2{
    padding-left: 0;
    color: transparent; 
    -webkit-text-stroke: 1px #004EFF; 
    color: #F8F8F8;
    font-size: 90px;
    margin: 0;
}

.titre-noir{
    text-align: center;
    margin-top: -75px;
}

.titre-noir h2{
    padding: 0;
    margin: 0;
    font-size: 60px;
    color: #333333;
}

form{
    align-items: center;
    margin-top: 5%;
    padding-left: 10px;
}

.saisi{
    height: 40px;
    padding-top: 20px;
    padding-left: 10px;
    border: 1px solid #333333;
    margin-bottom: 2%;
}

.saisi-message{
    height: 200px;
    padding-top: 20px;
    padding-left: 10px;
    border: 1px solid #333333;
    margin-bottom: 2%;
}

.champ-saisi{
    all: initial;
    width: 80%;
    background-color: #F8F8F8;
    border: 0px;
}

.champ-saisi-text{
    all: initial;
    width: 80%;
    background-color: #F8F8F8;
    border: 0px;
}

.envoyer{
    height: 40px;
    background-color: #333333;
    border: 1px solid #333333;
    color: #F8F8F8;
    width: 100%;
    margin-bottom: 5%;
}

.info {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info h2{
    font-size: 24px;
    text-align: left;
    margin: 0;
    color: #333333;
}

.info p, .info h3, .info a {
    font-size: 18px;
    text-align: left;
    margin: 0;
}
